*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(150,130,130);
	background-size: cover;
	font-family: cursive;
}
.navbar{
	height: 80px;
	background: rgba(0,0,0,0.4);
	width: 100%;
}
.logo{
 	position: absolute;
 	top: 12px;
 	left: 15px;
	border-radius: 30px;
	}
.navbar nav{
	font-size: 40px;
	margin-left: 470px;
}
.center{

	position: absolute;
	top: 30%;
	left: 38%;
}
.center h2,p{
	font-size: 25px;
	font-weight: bold;
}
.center h2{
	float: left;
	margin-bottom: 10px;
}
.center p{
	margin-bottom: 10px;
}